body, html, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
  }
  body, html, #root, .login-page, .image-container {
    background-color: #ffffff !important;
  }
  .login-page {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }
  .login-page, .image-container {
    background-color: #ffffff;
  }

.image-container {
  flex: 1.5;
  background-color: #ffffff; 
  overflow: hidden;
  position: relative;
  transform: translateX(-30px);
}
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #ffffff;
  clip-path: ellipse(100% 100% at 15% 50%);
  transform: none;
}

  .form-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
  }
  #google-signin-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
  .login-card {
  position: relative; 
  background: #ffffff;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow: hidden; 
  width: 440px; 
}
.login-card::before {
  content: '';
  position: absolute;
  top: 16px;              
  left: 16px;
  width: 28px;            
  height: 28px;
  border-top: 3px solid #39B49E;
  border-left: 3px solid #39B49E;
  border-top-left-radius: 8px;
}

.login-card::after {
  content: '';
  position: absolute;
  bottom: 16px;          
  right: 16px;
  width: 28px;
  height: 28px;
  border-bottom: 3px solid #39B49E;
  border-right: 3px solid #39B49E;
  border-bottom-right-radius: 8px;
}
  .login-logo {
    width: 180px;
    margin-bottom: 20px;
  }
  
  .login-title {
    margin-bottom: 10px;
    font-weight: 450 !important;       
    font-size: 25px !important;        
  }
  .subtitle-login {
    margin-bottom: 20px;
    margin-top: 20px !important;
    color: #666666;
    font-size: 16px;
  }
  

  .register-text {
    font-size: 15px;
    color: #555;
    margin: 10px 0;
  }
  html, body, #root {
    margin: 0;
    padding: 0;
    background-color: #ffffff !important;
    height: 100%;
  }
  
  .register-text a {
    color: #00a887;
    text-decoration: none;
    font-weight: 500;
  }
  
  .register-text a:hover {
    text-decoration: underline;
  }
.link-no-style {
  text-decoration: none;
  color: inherit;
}
.register-button-login {
  width: auto;
  padding: 10px 38px; 
  background-color: #39B49E ;
  border: none;
  border-radius: 20px;
  color: white;
  font-size: 14px;
  font-weight: 600;
  margin: 10px auto;
  transition: background-color 0.3s ease;
  cursor: pointer;
  display: block;
}


.register-button-login:hover {
  background-color: #057A55 ;
}


.spinner-login {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #4285F4;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media screen and (max-width: 768px) {
  .login-page {
    flex-direction: column;
  }

  .image-container {
    display: block;
    width: 100%;
    height: auto;
    max-height: 200px;
    overflow: hidden;
  }

  .image-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    clip-path: none;
    transform: none;
  }

  .form-container {
    flex: unset;
    width: 100%;
    padding: 20px;
    align-items: flex-start;
  }

  .login-card {
    
    margin-top: -150px;
    
  }
}

  