
.sidebar-alumno {
  width: 270px;
  background-color: #ffffff; 
  color: #333; 
  min-height: 100vh;
  border-right: 1px solid #ddd; 
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  align-items: center;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); 
}

.sidebar-alumno.collapsed {
  width: 0;
  padding: 0;
  border: none;
  transform: translateX(-100%);
  opacity: 0;
  pointer-events: none;
}

.toggle-btn {
  position: absolute;
  top: 20px;
  right: -15px;
  background: #d8dee8;
  border: 2px solid white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sidebar-header {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center;
  margin-bottom: -20px;
  padding: 20px 0; 
  text-align: center; 
}
.sidebar-alumno.collapsed .toggle-btn {
  right: -15px; 
}
.toggle-btn {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}
.sidebar-alumno .sidebar-header,
.sidebar-alumno .sidebar-nav {
  transition: opacity 0.3s ease;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover; 
  margin-bottom: 10px; 
  border: 3px solid #2e9e7f; 
}

.nombre {
  margin: 0;
  font-size: 1.3rem; 
  
  color: #2d2d2d;
  margin-bottom: 5px; 
}

.rol {
  color: #2e9e7f; 
  font-weight: 500;
  margin-bottom: 10px; 
  font-size: 1.1rem;
}
.rol::after {
  content: "";
  display: block;
  width: 70%; 
  height: 3px;
  background-color: #EFB036; 
  margin: 10px auto;
}
.sidebar-nav ul {
  list-style: none;
  padding-left: 20px;
}
.menu-item {
  margin-bottom: 15px;
  padding: 10px 0; 
  
}
.menu-title {
  background: none;
  border: none;
  font-size: 1rem;
  font-weight: 500; 
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
  padding: 8px 12px;
  transition: background-color 0.3s ease;
}
.submenu {
  list-style: none;
  padding-left: 20px;
  margin-top: 5px;
  font-size: 0.80rem;
}
.submenu li {
  padding: 8px 10px;
  transition: background-color 0.3s ease; 
  cursor: pointer;
  border-radius: 8px;
  font-size: 0.9rem !important;
}
.submenu li:hover {
  background-color: #f1f1f1; 
  border-color: #2e9e7f; 
}

.sidebar-nav svg:hover {
  transform: scale(1.1); 
}

.submenu li.selected {
  background-color: #011B4B; 
  color: white; 
}
.sidebar-nav svg {
  width: 30px; 
  height: 30px; 
  transition: transform 0.3s ease;
}

.fas.fa-chevron-down,
.fas.fa-chevron-up {
  font-size: 12px;
  transition: transform 0.3s ease;
}

.fas.fa-clipboard-check { color: #2e9e7f; } 
.fas.fa-cogs { color: #f39c12; } 
.fas.fa-file-pdf { color: #e74c3c; } 
.fas.fa-user-graduate { color: #9b59b6; } 
.fas.fa-tools { color: #34495e; } 
.menu-title:hover {
  background-color: #f1f1f1;
}

.menu-title i {
  font-size: 16px;
}
.sidebar-nav ul li {
  margin-bottom: 10px;
  font-size: 0.95rem;
  cursor: pointer;
}

.sidebar-nav ul ul {
  margin-top: 5px;
  padding-left: 15px;
}
.sidebar-nav {
  width: 100%;
 
}
.sidebar-nav ul ul li {
  margin-bottom: 6px;
  cursor: pointer;
}
.toggle-btn i {
  font-size: 14px;
}

@media screen and (min-width: 769px) {
  .sidebar-alumno.collapsed .sidebar-header,
  .sidebar-alumno.collapsed .sidebar-nav {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .sidebar-alumno {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 270px;
    transform: translateX(-100%);
    background-color: #fff;
    z-index: 1200;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
  }

  .sidebar-alumno.show {
    transform: translateX(0);
  }

  .toggle-btn {
    left: auto;
    right: 16px;
  }
}
