.sidebar-gestor-box {
  width: 270px;
  background-color: #ffffff;
  color: #333;
  
  border-right: 1px solid #ddd;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
  pointer-events: auto;
  align-items: center;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  height: 100vh;      
}

.sidebar-gestor-box.collapsed {
  width: 0;
  padding: 0;
  border: none;
  transform: translateX(-100%);
  opacity: 0;
  pointer-events: none;
  overflow: hidden;
}

.sidebar-gestor-toggle-btn {
  position: absolute;
  top: 20px;
  right: -15px;
  background: #d8dee8;
  border: 2px solid white;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

.sidebar-gestor-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  text-align: center;
}

.sidebar-gestor-profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
  border: 3px solid #2e9e7f;
}

.sidebar-gestor-nombre {
  margin: 0;
  font-size: 1.3rem;
  color: #2d2d2d;
  margin-bottom: 5px;
}

.sidebar-gestor-rol {
  color: #2e9e7f;
  font-weight: 500;
  margin-bottom: 10px;
  font-size: 1.1rem;
}

.sidebar-gestor-rol::after {
  content: "";
  display: block;
  width: 70%; 
  height: 3px;
  background-color: #EFB036; 
  margin: 10px auto;
}

.sidebar-gestor-nav {
  width: 100%;
  flex: 1;                
  overflow-y: auto;       
  overflow-x: hidden;
  padding-bottom: 16px;
}

.sidebar-gestor-nav ul {
  list-style: none;
  padding-left: 20px;
}

.sidebar-gestor-menu-item {
  margin-bottom: 6px; 
  padding: 6px 0;    
}


.sidebar-gestor-menu-title {
  background-color: #f1f5f9;
  border: none;
  width: 100%;
  padding: 12px 16px;
  font-weight: bold;
  font-size: 16px;
  text-align: left;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 6px;
  margin-top: 8px;
  color: #1e293b; 
}

.sidebar-gestor-menu-title:hover {
  background-color: #f1f1f1;
}

.sidebar-gestor-submenu {
  list-style: none;
  padding-left: 0;
  margin-top: 8px;
}

.sidebar-gestor-submenu li {
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 6px;
  color: #1e293b;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.sidebar-gestor-selected {
  background-color: #0f172a; 
  color: #ffffff !important;
  font-weight: 600;
}
.sidebar-gestor-menu-title i {
  font-size: 14px;
}
